.flex-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  @extend .flex-align;

  // create new user component styling
  .form-container {
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 35px;
    padding-bottom: 0;
    margin-top: 35px;
    background: #d3d6d8;

    h4 {
      text-align: center;
    }
    .search-user {
      background: dodgerblue;
      border-radius: 16px;
      margin: 15px 0;
      text-align: center;
      .btn-link {
        color: #fff;
      }
    }
  }

  // search component styling
  .search-container {
    width: 400px;
    margin-top: 80px;
    .form-alignment {
      display: flex;
    }
    .card-content {
      .divider:not(:last-child) {
        border-bottom: 1px solid lightgray;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      min-height: 140px;
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-top: 10px;
      p,
      h5 {
        margin: 0;
      }
      &-email {
        color: darkgray;
      }
      .no-details {
        @extend .flex-align;
      }
    }
  }
}
.create-user-btn {
  text-align: center;
  .btn-link {
    background: dodgerblue;
    border-radius: 16px;
    margin: 15px 0;
    &,
    &:hover {
      color: #fff;
    }
  }
}

// toast box styling
.toast-row {
  @extend .flex-align;
  margin-top: 20px;
  .toast-body {
    text-align: center;
    background-color: lightsteelblue;
  }
}
